*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
debug{
    border: 2px solid black;
}
header{
    background-color:rgb(29, 29, 92);
    width: 100%;
    height: 90px;
}
.col{
    border: 2px solid black;
   
}
.jumbo{
    height: 400px;
    width: 100%;
    background-color:rgb(31, 100, 102);
}